.cache*
.settings/*
.project
.settings
.cache
.target
*/.target/*
*/target/*
*/.idea/*
*.class
backup
backup/*
target
target/*
*/logs/*
*/DS_STORE
*/DS_STORE?
log
*.log
logs
logs/*
tmp
logFile*
.DS_STORE
.DS_STORE?
error.log
admin.log
bin
.classpath
.cache-tests
/pom.xml.versionsBackup
.factorypath
.idea
.idea/*
*.iml
reference/repairlink/output
reference/repairlink/output/*
/sourceone-harvest/docker/s1-harvest/lib/
/sourceone-harvest/docker/s1-harvest/*.jar